<html>
<head>
  <meta charset="utf-8" />
  <title>SMS | Home</title>
  <link href="../css/home.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="align">
  <div class="grid">
    <form  method="POST" class="form login" action="/add-students">
      <div class="form_field">
        <label><i class="fa fa-user" aria-hidden="true"></i></label>
        <input type="text" name="name" class="form_input" placeholder="Student Name" required>
      </div>
      <div class="form_field">
        <label><i class="fa fa-id-card" aria-hidden="true"></i></label>
        <input type="text" name="batch" class="form_input" placeholder="Batch" required>
      </div>
      <div class="form_field">
        <label><i class="fa fa-transgender-alt" aria-hidden="true"></i></label>
        <input type="text" name="gender" class="form_input" placeholder="Gender" required>
      </div>
      <div class="form_field">
        <label><i class="fa fa-users" aria-hidden="true"></i></label>
        <input type="text" name="department" class="form_input" placeholder="Department" required>
      </div>
      <div class="form_field">
        <label><i class="fa fa-phone-square" aria-hidden="true"></i></label>
        <input type="text" name="phone" class="form_input" placeholder="Phone" required>
      </div>
      <div class="form_field">
        <label><i class="fa fa-envelope" aria-hidden="true"></i></label>
        <input type="text" name="email" class="form_input" placeholder="Email" required>
      </div>
      <div class="form_field">
        <button class="submitButton" type="submit">Register</button>
      </div>
    </form>
  </div>
</body>
</html>
