<html>
<head>
  <meta charset="utf-8" />
  <title>SMS | Node JS</title>
  <link href="../css/login.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="align">
  <div class="grid">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;Student Management System | SMS</h3>
    <form  method="POST" class="form login" action="">
      <div class="form_field">
        <label><i class="fa fa-user" aria-hidden="true"></i></label>
        <input type="text" name="username" class="form_input" placeholder="Username" required>
      </div>
      <div class="form_field">
        <label><i class="fa fa-unlock-alt" aria-hidden="true"></i></label>
        <input type="password" name="password" class="form_input" placeholder="Password" required>
      </div>
      <div class="form_field">
        <button class="submitButton" type="submit">Login</button>
      </div>
    </form>
  </div>
</body>
</html>
