<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/shortcut.css">
    <title>SMS | Shortcut</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-panel">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-bookmark"></span> Quick Shortcuts</h3>
                    </div>
                    <div class="user-log">
                        Welcome, <%= session.account_name%>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                              <a href="#" class="btn btn-primary btn-lg" role="button"><i class="fa fa-tachometer" aria-hidden="true"></i> <br/>Dashboard</a>
                              <a href="#" class="btn btn-primary btn-lg" role="button"><i class="fa fa-user-plus" aria-hidden="true"></i> <br/>Register</a>
                              <a href="#" class="btn btn-primary btn-lg" role="button"><i class="fa fa-address-book-o" aria-hidden="true"></i> <br/>Course</a>
                              <a href="#" class="btn btn-primary btn-lg" role="button"><i class="fa fa-list" aria-hidden="true"></i> <br/>Enrollment</a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                              <a href="#" class="btn btn-primary btn-lg" role="button"><i class="fa fa-users" aria-hidden="true"></i> <br/>Users</a>
                              <a href="#" class="btn btn-primary btn-lg" role="button"><i class="fa fa-money" aria-hidden="true"></i> <br/>Payments</a>
                              <a href="#" class="btn btn-primary btn-lg" role="button"><i class="fa fa-calendar" aria-hidden="true"></i> <br/>Events</a>
                              <a href="#" class="btn btn-primary btn-lg" role="button"><i class="fa fa-cogs" aria-hidden="true"></i> <br/>Settings</a>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-lg btn-block" role="button">Logout&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="footer">
       Student Management System | Copyright © 2024
    </div> 
</body>
</html>

